{% extends "templates/app.twig" %}
{% block full %}
	<div class="container" style="height: 90vh;">
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-4 pt-5">
            <h1>Пријава корисника</h1>
            </div>
			<div class="col-lg-4"></div>
		</div>
	</div>
{% endblock full %}
