{% extends "templates/app.twig" %}
{% block full %}
<div class="container" style="height: 90vh;">
	<div class="row">
		<div class="col-lg-4"></div>
		<div class="col-lg-4 pt-5">
			<h1 class="mb-5">Пријава корисника</h1>
			<form action="{{ url_for('prijava') }}" method="POST">
				{{ csrf|raw }}
				<div class="mb-3">
					<label for="korisnicko_ime" class="form-label">Корисничко име</label>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">
							<i class="bi-person"></i>
						</span>
						<input type="text" class="form-control" id="korisnicko_ime" name="korisnicko_ime"
							oninvalid="this.setCustomValidity('Корисничко име је обавезно и мора да садржи најмање 5 и највише 50 карактера који морају бити слова или бројеви.')"
							oninput="this.setCustomValidity('')" minlength="5" maxlength="50" autocomplete="off"
							required>
					</div>
				</div>
				<div class="mb-3">
					<label for="lozinka" class="form-label">Лозинка</label>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">
							<i class="bi-key"></i>
						</span>
						<input type="password" class="form-control" id="lozinka" name="lozinka"
							oninvalid="this.setCustomValidity('Лозинка је обавезна и мора да садржи најмање 4 карактера.')"
							oninput="this.setCustomValidity('')" minlength="4" autocomplete="off" required>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Пријави се</button>
				<a href="{{ url_for('pocetna') }}" class="btn btn-warning">Одустани</a>
			</form>

		</div>
		<div class="col-lg-4"></div>
	</div>
</div>
{% endblock full %}