<div class="container-fluid bg-dark text-light fixed-bottom">
	<div class="row">
		<div class="col-lg-6">
			<p class="text-start mb-1">
				<em>&copy; 2025 All Rights Reserved</em>
			</p>
		</div>
		<div class="col-lg-6">
			<p class="text-end mb-1">
				Корисник:
				{{ korisnik.prijavljen ? korisnik.puno_ime : "Гост" }}
			</p>
		</div>
	</div>
</div>